.personRow {
    

}


.toggleEdit-preview
{
    padding: 2px;
    display:inline;
}

.toggleEdit-preview:hover {
    padding: 0px;
	border: 2px solid #8CDFFF;
}

input.toggleEdit-edit[type=text], select.toggleEdit-edit
{
	min-width:20px;
}

button.remove {
    font-size: 15px;
}


td.personRow div.input {
    width: 200px;
}


td.dirty {
    background-color: #8CDFFF !important;
}

