.swipe li div {
    margin: 0 0px;
    padding: 50px 00px;
    background: #1DB1FF;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
}

.header .middle {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.header .before {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 130px;
}

.header .after{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 130px;
    text-align: right;
}

.header .middle {
    text-align: center;
}